footer{
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
}
li{
  padding: 4px;
}


#Content{
  justify-content: space-evenly;
}

@media screen and (max-width: 1200px) and (min-width:300px) {
  .pleca {
    height: 40%;
    width: 100%;
    overflow: hidden;
  }
  .pleca img{
    max-width: 1200px;
  }
  #content{
    height: 50%;
  }
}
