footer{
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
}
li{
  padding: 4px;
}

#Content{
  justify-content: space-evenly;
  
}
.pleca{
  background-color: #fff;
  background-image: url("../../public/pleca.svg");
  height: 5vh;
  width: 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  max-width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 800px) and (min-width:300px) {
  .pleca {
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
 
  
}
