@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navBar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #03281A; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    justify-content: space-between;
    color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    left: 0px;
}

.navBar ul{
    display: flex;
    gap: 1rem;
}

.navBar ul li{
    list-style: none;
}

.navBarGob{
    background: #0C231E;
}

/* NavBar.css */
.navBar img, .navBarINEA img {
  height: 4rem; 
  width: auto; /* Mantiene la proporción */
  max-width: 12rem;
}

.navBarINEA .flex.items-center {
  display: flex;
  align-items: center;
}

#Msup{
  
  margin-left: auto;
  margin-right: auto;
  width: 1142px;
  height: auto;
}

#Minf{
  /* flex-wrap: wrap; */
  /* justify-content:flex-end; */
  margin-left: auto;
  margin-right: auto;
  width: 1142px;
  height: auto;
}


/*
@media screen and (max-width: 1200px) and (min-width:300px) {
  .navBar img, .navBarINEA img {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #contenidoSup{
    margin-right: 1rem;
  }

}

@media screen and (min-width: 1500px) {
  .navBar img, .navBarINEA img {
    margin-left: 20rem;
  }
  #contenidoSup{
    margin-right: 20rem;
  }

  #menubajo{
    margin-right: 20rem;
  }
}
*/