@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#UbicacionDivP {
  font-family: 'Montserrat';
  width: 100%;
  height: auto;
}

#direccion {
  margin: 0;
  padding: 0;
  height: 100%;
}

#UbicacionDivP a {
  color: #ffffff;
}

#UbicacionDivP a:hover {
  color: #611232;
}

/* Ajustes responsivos para evitar sobreposición o separación excesiva */
@media screen and (max-width: 768px) {
  #UbicacionDivP {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #direccion {
    text-align: center;
  }
}
