.AlertaCampo{
    color: red;
  }

  .swal-wide{
    width:50px !important;
}

.red{
  color: red;

}


  .input-personalizado {
    box-sizing: border-box; /* Asegura que el borde no expanda el tama침o de la caja */
    border: 1px solid #ccc; /* Color de borde por defecto */  
    border-radius: 4px; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    /*transition: border-color 0.3s, background-color 0.3s, border-width 0.3s; /* Transici칩n suave */
    outline: none !important; 
  }

  .input-apellidopaterno{
    box-sizing: border-box; 
    border: 1px solid #ccc; /* Color de borde por defecto */  
    border-radius: 4px; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    /*transition: border-color 0.3s, background-color 0.3s, border-width 0.3s; *//* Transici칩n suave */
    outline: none !important; 
  }


  /* Estilo para cuando el input est치 en foco */
   .input-personalizado:focus, .input-apellidopaterno:focus{ 
    outline: none !important; 
    border-color: #496cec !important;
  box-shadow: 0 0 10px rgba(173, 216, 230, 0.7) !important; /* Difuminado azul claro */
  }   


.color-gris{
  background-color: #d3d3d3;
}


