.__className_ea17e2  {

    color: #333334;
    font-family: 'Noto Sans'!important;
    box-sizing: border-box;
    padding-bottom: 0px;
    font-size:18px;
    font-style: normal;
    font-weight: normal;
    
}

li {
    padding: 0;
    text-align: left;
    font-family: 'Noto Sans'!important;
  }
